body {
	background: #dadada;
}

.container {
/*	padding-top: 5rem;
	padding-left: 20rem;
	padding-right: 20rem;*/
	background: #fff8f8 ;
	width: 30rem;
	min-height:30rem;
	box-shadow: 1px 1px 15px 1px #888888;
}

.header {
    text-align: left;
    font-family: sans-serif;
    background: linear-gradient(135deg, #4aa6be 58%, #24b5da 60%) ;
    height: 2rem;

}

.header h3 {
    margin-bottom: 0;
    color: #ffffff;
    margin-left:1rem;
    line-height: 1.7;
}

.header p {
    margin-top:0;
    color: #ffffff;
}

.content{
	display: inline-block;
  text-align: center;
  left: 70px;
  margin-top: 10px;
  width: 25rem;
}

.done {
	color:#c0c0c0;
  text-decoration: line-through;
}

.content button{
	float: right;
	margin-right: 3px;
}


.content ul {
  list-style: none;
  padding: 0;
}
.content li {
  padding: 5px 10px;
  background-color: #fff8f8;
  border-bottom: 1px solid #dcdcdc;
  text-align: left;
  font-family: sans-serif;
}

#add-todo {
  background: #24b5da;
  border:none;
  color:#fff;
  height:25px; 
  margin-left:5px; 
}

#add-todo:hover {
  background: #4aa6be;
  box-shadow: none;
  cursor: pointer;
}

#reset-todo {
  background: #24b5da;
  border:none;
  color:#fff;
  height:25px; 
}

#reset-todo:hover {
  background: #4aa6be;
  box-shadow: none;
  cursor: pointer;
}

#input-todo {
  outline: none;
  box-sizing: border-box;
  height: 25px;
  width: 15rem;
}

#input-todo:focus {
  box-shadow: 0 0 5px #88D5E9;
  border: 1px solid #88D5E9;
}

.deleteButton {
  background: #eb4747;
  border:none;
  color:#fff;
  height:20px; 
  margin-left:5px;
  font-weight: bold;
  font-size: 16px; 
}

.deleteButton:hover {
  background: #d23f3f;
  box-shadow: none;
  cursor: pointer;
}

.asComplete {
  background: #dddf14;
  border:none;
  color:#fff;
  height:20px; 
  margin-left:5px; 
}

.asComplete:hover {
  background: #c2c413;
  box-shadow: none;
  cursor: pointer;
}